{% extends "main.html" %}
{% block head %}
    {{ super() }}
    <title>
        Delete {{ item.name }}
    </title>
{% endblock %}

{% block content %}

    <div class="form_area">
        <h1>
            Delete {{ item.name }}
        </h1>
        <div class="edit_form">
            <form action="{{ url_for('deleteItem', category_id=category.id, item_id=item.id) }}" method="POST">
                Are you sure you want to delete {{ item.name }}?
                <input type="hidden" name="state" value="{{STATE}}" />
                <br /> 
                <button type="submit" class="submit_button" type="submit">
                    Yes
                </button>
                
            </form><br /> 

            <a href="{{ url_for('showItem', category_id=category.id, item_id=item.id) }}" >
                <button class="cancel_button">
                    No
                </button>
            </a>
            

{% endblock %}