<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
        </script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}" >
        {% block head %}
        
        {% endblock %}

    </head>
    <body>
        <header>
            <div class="page_title">
                <a href="{{url_for('showCategories')}}" >
                    Creatures of the Sea
                </a>
            </div>
        
        <div id="sign_in_button">
        {% if user_id == None %}
            
            <span class="g-signin"
             data-scope="openid email"
             data-clientid="807025383816-69j319udrf4p2thgpc3tlrr4s5bsnklh.apps.googleusercontent.com"
             data-redirecturi="postmessage"
             data-accesstype="offline"
             data-cookiepolicy="single_host_origin"
             data-callback="signInCallback"
             data-approvalprompt="force">
            </span>
           
        {% else %}

            <a href="{{url_for('gdisconnect')}}">
                Logout
            </a>

        {% endif %}

         </div>
         </header>
         <div class="content">

        {% block content %}
            <div class="categories">
                <h2>
                    Types of Sea Creatures
                </h2>
    
                    <ul>
                {% for category in categories %}
                        <li>
                            <a href="{{url_for('showItemsForCategory', category_id=category.id)}}" >
                                {{ category.name }}
                            </a>
                        </li>
                {% endfor %}
                    </ul>

            </div>

        {% endblock %}
        </div>

            <script>
        function signInCallback(authResult){
            if(authResult['code']){
                $('#sign_in_button').attr('style','display:none');
                $.ajax({
                    type:'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData:false,
                    contentType:  'application/octet-stream; charset=utf-8',
                    data: authResult['code'],
                    success:function(result){
                        console.log(result);
                        if(result){
                            setTimeout(function(){
                                window.location.href="/category/";
                            }, 500);
                        }else if(authResult['error']){
                            console.log('Something\'s gone horribly wrong: ' + authResult['error'])
                        }
                    }
                }) 
            }
        }
    </script>

    </body>
</html>